<div class = "row" >

    <div class = "col-lg-3 col-xl-3" style="margin-top: 10%;" >
        <!--contenido extra -->
    </div>
    <div class = "col-lg-9 col-xl-9" style="margin-top: 10%;" >
        <div class="card" style="margin: 10%; width: 18rem; margin: 0 auto;">
            <img class="card-img-top" src="assets/img/vendedor.jpg" alt="Card image cap" >
            <div class="card-body">
              <h5 class="card-title">Vendedor</h5>
              <p class="card-text">Vende productos.</p>
              <a href="nueva-cuenta" class="btn btn-primary">Crear cuenta</a>
            </div>
        </div>
    </div>

</div>
