<p>turismo works!</p>
<p>turismo works!</p>

<div class="container">
    <div class="row justify-content-around">
        <div class="card-deck">
            <div *ngFor="let turismo of turismos">



                <div class="card">
                    <img class="card-img-top" src="{{turismo.foto}}" alt="Card image cap" width="277" height="180">
                    <div class="card-body">
                        <h5 class="card-title" style="font-weight: bold;">{{turismo.nombre}}</h5>
                        <p class="card-text">{{turismo.direccion}}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 16 mins ago</small>
                    </div>
                </div>
                <br>

            </div>

        </div>
    </div>
</div>
