<p>search works!</p>
<p>search works!</p>


<div class="row">
    <div class="filter col4">
        <div class="list-group-item">
            <b>REGIÓN</b>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                onclick='console.log("Filtro Amazonia")'>
                <label class="custom-control-label" for="defaultUnchecked">Amazonía</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro costa")'>
                <label class="custom-control-label" for="defaultUnchecked">Costa</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro sierra")'>
                <label class="custom-control-label" for="defaultUnchecked">Sierra </label>
            </div>
        </div>

        <div class="list-group-item ">
            <b>CATEGORÍA</b>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro agricultura")'>
                <label class="custom-control-label" for="defaultUnchecked">Agricultura</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro Ganadería")'>
                <label class="custom-control-label" for="defaultUnchecked">Ganaderia</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro Pesca")'>
                <label class="custom-control-label" for="defaultUnchecked">Pesca </label>
            </div>
        </div>
        <div class="list-group-item ">
            <b>FILTRO X</b>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item X1</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Iten X2</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Iten X3 </label>
            </div>
        </div>
        <div class="list-group-item ">
            <b>FILTRO Y</b>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Iten Y1</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item Y2</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item Y3 </label>
            </div>
        </div>
        <div class="list-group-item ">
            <b>FILTRO Z</b>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item Z1</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item Z2</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item Z3 </label>
            </div>
        </div>
        <div class="list-group-item ">
            <b>FILTRO N</b>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item N1</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item N2</label>
            </div>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="defaultUnchecked"
                    onclick='console.log("Filtro item")'>
                <label class="custom-control-label" for="defaultUnchecked">Item N3 </label>
            </div>
        </div>
    </div>
        
    
    <div class="col-8">
        <p>N resultados encontrados:</p>

     
    </div>

</div>