
<div align="center">
    <h1 style="margin-top:85px;margin-bottom: 25px;">Productos</h1>
</div>

<body>
    
    <mat-grid-list cols="3"  rowHeight="250px" style="margin-bottom: 1em;">
        <mat-grid-tile *ngFor="let categoria of categorias">
            <mat-card style="margin-right: 2em;" class="example-card tarjeta">
                <div class="content" align='center'>
                    <p style="font-size: 25px;font-weight: bold;">{{categoria.nombre}}</p>
                    <img src='{{categoria.imagen}}' width="300" height="150">

                </div>
                    
                
            </mat-card>
        </mat-grid-tile>
    
    </mat-grid-list>

    <!-- <div >
        <div class="contenedor">
    <div class="img">
        <div>
    <img src='http://drive.google.com/uc?export=view&id=1q8I7bVQGEbjR6fBg8-og0Lyk0JhEyOAC' width="300" height="150">
    <p>NARANJILLA</p>
        </div>
    </div>

    <div class="img">
        <div>
    <img src='http://drive.google.com/uc?export=view&id=1Y_LWz2Z8ITDLAuSSinQiSAwyULpwRkR_' width="300" height="150">
    <p>CAFÉ</p>
        </div>
    </div>
    
    <div class="img">
    <img src='http://drive.google.com/uc?export=view&id=1v2ndWIzFmLU5_RHT4Y8w6qxVX7EeHkNa' width="300" height="150">
    <p>PAPA</p>
    </div>

    <div class="img">
    <img src='http://drive.google.com/uc?export=view&id=1zUpCbEsCbsrqoHYCPX_5Uydn7sF7vewg' width="300" height="150">
    <p>CEBADA</p>
    </div>

    <div class="img">
    <img src='http://drive.google.com/uc?export=view&id=1e_yaahXeCmVLlTCu03mqzMmjYNbWyIuJ' width="300" height="150">
    <p>YUCA</p>
    </div>
    
    <div class="img">
    <img src='http://drive.google.com/uc?export=view&id=1VG3gJzC8Ol9EwVWg8-29y3qWqIrXtmPL' width="300" height="150">
    <p>MAIZ SERRANO</p>
    </div>

    <div class="img">
    <img src='http://drive.google.com/uc?export=view&id=1A0gkzsu9kyO6LpPobecvAcJgvLC3hrfg' width="300" height="150">
    <p>PALMA AFRICANA</p>
    </div>
    
    <div class="img">
    <img src='http://drive.google.com/uc?export=view&id=1HYfJ_B5ibO9BqudpuhItw5gbBa8YpiAs' width="300" height="150">
    <p>CAÑA DE AZUCAR</p>
    </div>

    <div class="img">
    <img src='http://drive.google.com/uc?export=view&id=1VMefiNeas6srvaYKOLBN7D0Z0R8k_79w' width="300" height="150">
    <p>MELLOCO</p>
    </div>




            
        </div>
    </div> -->
