<div id='tituloDiv'>
    <h4 id="titulo">Inicio de sesión</h4>
  </div>
  
  <div id="datos">
  
        <h4 id="tituloBienvenido">Bienvenido a Ayudar-App</h4>
        
        <div>
          <div class="form-group row">
            <label for="email" class="col-md-4 col-form-label text-md-right">Email</label>
            <div class="col-md-6">
              <input type="text" class="form-control" id="login-username" required autofocus formControlName="email">
            </div>
          </div>
  
  
          <div class="form-group row" style="margin-bottom:15%">
            <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
            <div class="col-md-6">
              <input type="password" id="login-password" class="form-control" formControlName="password" required>
            </div>
          </div>
  
  
          
            <button type="submit" class="loginBtn loginCorreo ">
              Iniciar sesión
            </button>

  
  
           
          </div>
  
  </div>
  
    
  
  